.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    margin: 20px;
    margin-top: 70px;
    padding: 20px;
    border: none;
    height: auto;
    box-shadow: none;
}

input {
    display: inline-block;
    width: 100px;
}

#add {
    width: 100px;
    margin-left: 15px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    display: block;
}