* {
    font-family: Lato;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cat {
    left: 10%;
    position: absolute;
    width: 200px;
}

.dog {
    right: 10%;
    position: absolute;
    width: 150px;
}

h1 {
    top: 5%;
    font-size: 60px;
}

.text {
    position: absolute;
    text-align: center;
}

#end{
    position: absolute;
    background-color: white;
    opacity: 0.5;
}

.bigBox {
    width: 300px;
    height: 300px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.smallBox {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: absolute;
    width: 300px;
    height: 50px;
    font-size: 20px;
    top: 80%;
    color: white;
    background-color: grey;
    border-radius: 5px;
    box-shadow: 1px;
}