*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 40%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

input{
    width: 50%;
    height: 35px;
    margin: 20px 0;
}

button{
    width: 100px;
}

#info {
    margin-top: 20px;
}